body { 
	background-color: lightgreen; 
}

h1#header { 
	font-family: "Courier New"; 
	color: red; 
	font-size: 50px; 
	padding: 20px 30px;
	border: 10px solid black;
	border-style: dashed;
}

.tech-room { 
	margin: auto;
}

.coding { 
	background-image: url('http://orig05.deviantart.net/431e/f/2010/009/9/4/anonymous_is_everywhere_by_alarzy.jpg');
}

.coding:hover { 
	content: url('http://orig05.deviantart.net/431e/f/2010/009/9/4/anonymous_is_everywhere_by_alarzy.jpg');
}

body#jarvis { 
	background-color: lightblue;
}

body#dog { 
	background-color: lightyellow;
}

body#dog p { 
	font-size: 30px;
	font-style: italic;
}

.dog-image { 
	width: 80%; 
	margin: 75px;
}
.working { 
	font-size: 35px; 
}

.jarvis { 
	font-size: 30px;
}

.livingroom { 
	font-size: 25px;
}

footer { 
	width: 50%;
}

@media screen and (max-width: 300px) { 
   body { 
    font-size: 50px;
   }
}

}